@font-face {
  font-family: 'Noto Sans Myanmar';
  src: url(/NotoSansMyanmar/NotoSansMyanmar-Regular.ttf);
}

@font-face {
  font-family: 'Noto Sans Myanmar';
  src: url(/NotoSansMyanmar/NotoSansMyanmar-Bold.ttf);
  font-weight: bold;
}

html, body, span, strong {
  font-family: 'Noto Sans Myanmar', sans-serif;
}

.form form.styled {
  background: #eee;
  margin: 30px;
  padding: 10px;
}

.form form.styled .field {
  width: 40%;
  float: left;
}

.form form.styled .clearfix {
  margin: 10px;
  display: block;
  clear: both;
}

.about {
  margin-left: 10%;
  margin-right: 10%;
}

#comparer {
  border: 1px solid #000;
  box-shadow: 2px 2px #ccc;
  padding: 20px;
}

#comparer label, #comparer button, #comparer textarea {
  font-size: 20pt;
  min-height: 24pt;
  vertical-align: middle;
}

#comparer button {
  padding: 6px;
  margin: 12px;
  background: #303f9f;
  color: #fff;
  display: block;
}

button#correct {
  display: inline;
}
