doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", type="text/css", href="/styles/myanmar.css")
  body
    h3 Search
    form(action="/candidate", method="GET")
      h4 Look up candidate by National ID
      input(type="text", name="serial")
      input(type="submit", value="Search")
    h3 Links
    ul
      li
        a(href="/data-update") /data-update - new forms
      li
        a(href="/activate-form") /activate-form - reset unfinished entries
      li
        a(href="/register") /register - new users
      li
        a(href="/entries") /entries - newly completed entries

    h3 Stats
    strong entries (2 for each form)&nbsp;
    span= entries
    br
    strong checked forms:&nbsp;
    span= consensus_forms
    br
    strong unique scanned candidates:&nbsp;
    span= scanned_candidates
    br
    strong consensus forms with scans included:&nbsp;
    span= consensus_forms_with_scans
