doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", type="text/css", href="/styles/myanmar.css")
  body
    for entry in entries
      if entry.source
        - link = "/" + entry.source + "/" + entry.id
      else
        - link = "/entry/" + entry.id
      a(href=link)
        h3= entry.full_name
      span= entry.saved
