doctype html
html
  head
    meta(charset="utf-8")
  body
    - scan_image = "/form_images/" + entry.scan_file
    img(src=scan_image)
    .form
      h4 Full Name
      span= entry.full_name
      h4 National ID
      span= entry.national_id
      span &nbsp;(
      span= entry.norm_national_id
      span )
