doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", type="text/css", href="/styles/myanmar.css")
  body
    #comparer
      label
      br
      for match in matches
        button
      br
      textarea
      button#correct Save
      br
      button#skip Don't Know

    script(type="text/javascript") var matches = !{JSON.stringify(matches)};
    script(type="text/javascript", src="/scripts/jquery-1.11.3.min.js")
    script(type="text/javascript", src="/scripts/matcher.js")
