doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", type="text/css", href="/styles/myanmar.css")
  body
    div.container
      .row
        h1
          span.fa.fa-sign-in
          span.translate Log in

      .row
        .col-md-6
          h3 Welcome back!
          p Enter the username and password for your account.

        .col-md-6
          form.well(action="/login", method="post")
            .form-group
              label.translate Email
              input.form-control(type="text", name="email")
            .form-group
              label.translate Password
              input.form-control(type="password", name="password")
            button.btn.btn-warning.translate(type="submit") Log In
