doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", type="text/css", href="/styles/myanmar.css")
  body
    div.container
      .row
        h1
          span.fa.fa-sign-in
          span.translate Register

      .row
        .col-md-6
          h3 Hello!
          p Enter a username and password to create your account.

        .col-md-6
          form.well(action="/register", method="post")
            .form-group
              label.translate Email
              input.form-control(type="text", name="username")
            .form-group
              label.translate Password
              input.form-control(type="password", name="password")
            button.btn.btn-warning.translate(type="submit") Register
